<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>Document</title>
</head>
<body>
    <div class="container">
    <h1>Hello & Welcome back</h1>
    <form method="post" action="/todo" class="inputform">
        <input type="text" name="list" placeholder="Add Task" autocomplete="off">
        <button class="submit">Submit</button>
     </form>
     <div class="tasklist">
     <ul>
        <% for(let product of products) { %>
            <div class="tasksview">
        <li><%= product.list %></li>
        <div class="taskbuttonsdiv">
        <button class="task-btn"> <a href="todo/<%= product._id %>/edit">Edit</a></button> 

        <form action="/todo/<%=product._id%>?_method=DELETE" method="POST">
           <button class="task-btn">Delete</button> 
        </form>
    </div>
    </div>
        <% }%>
    </ul>
    </div>
</div>
</body>
</html>


